name: Deploy to Yandex Cloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      working-directory: terraform/
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Yandex Cloud credentials
        uses: yc-actions/yc-auth-action@v4
        with:
          yc_token: ${{ secrets.YCAUTHKEYJSON }}

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan -out plan.tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve plan.tfplan
