name: Deploy to Yandex Cloud

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      working-directory: terraform/
    defaults:
      run:
        working-directory: ${{ env.working-directory }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: IAM Token
        id: issue-iam-token
        uses: yc-actions/yc-iam-token@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YCAUTHKEYJSON }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.9.4
          
      - name: Terraform Init
        id: init
        run: terraform init -backend-config="access_key=${{ secrets.YCACCESSKEY }}" -backend-config="secret_key=${{ secrets.YCSECRETKEY }}"

      - name: Terraform Plan
        id: plan
        run: terraform plan -out plan.tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve plan.tfplan
